
<div class="container col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-send"></span>&nbsp; Last 5 appointments
        </div>
        <div class="panel-body" style="height:558px;overflow-x: auto;">
            <div class="alert-info" ng-if="appointments.length==0">
                <i class="glyphicon glyphicon-info-sign"></i> No appointments to show today
            </div>
            <div ng-repeat="appointment in appointments | limitTo:5" class="appointment-item panel panel-default">
                <div class="panel-body">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-send"></span>&nbsp; <b>Appointment Id </b> [{{appointment.Id}}]

                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="col-md-3 col-lg-3" align="center">
                                    <img alt="User Pic" src="{{appointment.AspNetUserTo.ImageUrl}}" class="img-circle img-responsive">
                                </div>
                                <div class="col-md-offset-2">TO: {{appointment.AspNetUserTo.FullName}}</div>
                                <div class="col-md-offset-2">BY: {{appointment.AspNetUserBy.FullName}}</div>
                                <div class="col-md-offset-3">Purpose: {{appointment.Purpose}}</div>
                                <div class="col-md-offset-3">Status: {{appointment.AppointmentStatu.Name}}</div>
                                <div class="col-md-offset-2">{{getDate(appointment.Time) | date:"MM/dd/yyyy h:mma"}}</div>
                                <br />
                                <div class="">
                                    <button id="button1id" name="button1id" class="btn btn-success" ng-hide="appointment.isApproved" ng-click="selectAppointment(appointment)">Approve</button>
                                    <button id="button2id" name="button2id" class="btn btn-danger" ng-show="appointment.isApproved" ng-click="removeAppointment(appointment)">Reject</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div ng-if="appointments" class="box-footer text-center">
            <a class="uppercase" ng-href="#/appointments">Show All</a>
        </div>
        <!--<div >
            <td colspan="4" class="text-center"><a class="btn btn-info pull-left" ng-href="#/appointments">Show all</a></td>
        </div>-->

        <div ng-hide="appointments.length > 0"> No appointments to show</div>
    </div>
</div>




</div>