@model ACMVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}




<html>
    <head>
        <title>Manage</title>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/toastr.css" rel="stylesheet" />
    </head>
<body class="container">
    <div class="panel panel-primary" style="margin-top:100px;height: 400px;">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-log-in"> Manage Your Account</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-3">
                    <dl class="dl-horizontal">
                        <dt>Password:</dt>
                        <dd>
                            [
                            @if (Model.HasPassword)
                            {
                                @Html.ActionLink("Change your password", "ChangePassword")
                            }
                            else
                            {
                                @Html.ActionLink("Create", "SetPassword")
                            }
                            ]
                        </dd>
                        <br/>
                        
                        <dt>External Logins:</dt>
                        <dd>
                            @Model.Logins.Count [
                            @Html.ActionLink("Manage", "ManageLogins") ]
                        </dd>
            
                    </dl>
                </div>
                
            </div>
           
        </div>
        <div class="row text-center" style="color: red;font-size: 20px;margin-top: 50px;">
            <p>Caution: Please Carefully Modify Your Account Credentials.</p>
        </div>
    </div>
  
</body>   

</html>
<footer class="text-center">
    Powered By LumexTech Solutions Ltd.
</footer> 

