<hr />
<div class="row">
    <div class="col-md-8">
        <form class="form-horizontal">

            <!-- Form Name -->
            <legend>User</legend>

            <div class="col-md-12 ">
                <h3 class="text-center">{{user.Email}}</h3>
            </div><br/>

            <a class="btn btn-default" ng-href="#/addappointment/{{user.Id}}">Make Appointment</a>

            <div class="col-md-12">
                <div>UserName: {{user.UserName}}</div>
                <div>Full Name: {{user.FullName || default}}</div>
                <div>Phone: {{user.PhoneNumber || default}}</div>
                <div>Gender: {{user.Gender || default}}</div>
                <div>Blood Group: {{user.BloodGroup|| default}}</div>
                <div>NID: {{user.NId|| default}}</div>
                <div>Present Address: {{user.PresentAddress || default}}</div>
                <div>Permanent Address: {{user.PermanentAddress || default}}</div>
                <div>Profession: {{user.Profession || default}}</div>
            </div>
            

            <div ng-if="isSelf()">
                <span class="btn btn-default" ng-click="toggleEditMode()" ng-hide="editMode">Edit</span>
                <span class="btn btn-default" ng-click="toggleEditMode()" ng-show="editMode">Cancel changes</span>
                <fieldset ng-if="editMode">
                    <!-- File Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="filebutton">Upload Photo</label>
                        <div class="col-md-4">
                            <input id="filebutton" name="filebutton" class="input-file" type="file">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Username</label>
                        <div class="col-md-4">
                            <input id="textinput" ng-model="user.UserName" type="text" placeholder="Name" class="form-control input-md">
                            <span class="help-block">Edit phone number</span>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Full Name</label>
                        <div class="col-md-4">
                            <input id="textinput" ng-model="user.FullName" type="text" placeholder="Name" class="form-control input-md">
                            <span class="help-block">Edit phone number</span>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Phone</label>
                        <div class="col-md-4">
                            <input id="textinput" ng-model="user.PhoneNumber" type="text" placeholder="+8801xxxxxxxxx" class="form-control input-md">
                            <span class="help-block">Edit phone number</span>
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="gender">Gender</label>
                        <div class="col-md-4">
                            <select id="gender" class="form-control" ng-model="user.Gender">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="bloodgroup">Blood Group</label>
                        <div class="col-md-4">
                            <input id="bloodgroup" ng-model="user.BloodGroup" type="text" placeholder="B+/A/A-/,,," class="form-control input-md">
                            <span class="help-block">Enter your blood group</span>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="nidinpud">NID</label>
                        <div class="col-md-4">
                            <input id="nidinpud" ng-model="user.NId" type="text" placeholder="xxxxxxxxxxxxxxxxxxxx" class="form-control input-md">
                            <span class="help-block">Enter your National Id</span>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="presentaddress">Present Address</label>
                        <div class="col-md-8">
                            <input id="presentaddress" ng-model="user.PresentAddress" type="text" placeholder="House 21, Road 4/a, Dhanmondi r/a, Dhaka" class="form-control input-md">
                            <span class="help-block">Present Address</span>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="permanentaddress">Permanent Address</label>
                        <div class="col-md-8">
                            <input id="permanentaddress" ng-model="user.PermanentAddress" type="text" placeholder="House 21, Road 4/a, Dhanmondi r/a, Dhaka" class="form-control input-md">
                            <span class="help-block">Permanent Address</span>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="professioninput">Profession</label>
                        <div class="col-md-5">
                            <input id="professioninput" ng-model="user.Profession" type="text" placeholder="Professor at Dhaka University" class="form-control input-md">
                            <span class="help-block">Enter your profession and place of work</span>
                        </div>
                    </div>

                    <!-- Button (Double) -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="savechanges"></label>
                        <div class="col-md-8">
                            <button id="savechanges" name="savechanges" class="btn btn-success" ng-click="updateUser()">Save Changes</button>
                            <button id="button2id" name="button2id" class="btn btn-danger" ng-click="toggleEditMode()">Cancel</button>
                        </div>
                    </div>

                </fieldset>
            </div>

        </form>
    </div>
</div>