<div id="sidebar" class="sidebar-offcanvas" ng-show="userData.isLoggedIn">
    <div class="col-md-12">
        <h3></h3>
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-divider"></li>
            <li class=""><a ng-href="#/">Admin Panel<i class="fa fa-home fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li class=""><a ng-href="#/status">Status<i class="fa fa-home fa-fw pull-right"></i></a></li>
            <li><a ng-href="#/card/">Cards<i class="fa fa-users fa-fw pull-right"></i></a></li>
        </ul>
    </div>
</div>