<div id="sidebar" class="sidebar-offcanvas" style="background-color: #41586e;">
    <div class="col-md-12" ng-show="userData.isAdmin">
        <h3 style="color: #fff;">Admin Panel</h3>
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-divider"></li>
            <!-- <li><a ng-href="#/role/">Roles<i class="fa fa-users fa-fw pull-right"></i></a></li>-->
            <!-- <li class=""><a ng-href="#/status">Status<i class="fa fa-home fa-fw pull-right"></i></a></li>-->
            <li><a ng-href="#/card/">Cards<i class="glyphicon glyphicon-hdd pull-right"></i></a></li>
            <li><a ng-href="#/zone/">Access Zones<i class="glyphicon glyphicon-tower pull-right"></i></a></li>
            <li><a ng-href="#/device/">Devices<i class="glyphicon glyphicon-briefcase pull-right"></i></a></li>
            <li><a ng-href="#/cardlog/">Card Logs<i class="glyphicon glyphicon-list pull-right"></i></a></li>
            <li><a ng-href="#/usercard/">User Card<i class="glyphicon glyphicon-credit-card pull-right"></i></a></li>
            <li><a ng-href="#/devicecard/">Device Card<i class="glyphicon glyphicon-stop pull-right"></i></a></li>
            <li><a ng-href="#/user/">Users<i class="glyphicon glyphicon-user pull-right"></i></a></li>
            <li><a ng-href="#/vehicle/">Vehicle<i class="glyphicon glyphicon-road pull-right"></i></a></li>
            <li><a ng-href="#/vehicleLogs">Vehicle Logs<i class="glyphicon glyphicon-list pull-right"></i></a></li>
            <li class="nav-divider"></li>
        </ul>
    </div>

    <div class="col-md-12" ng-show="userData.isAdmin">
        <h3 style="color: #fff;">Official</h3>
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-divider"></li>
            
            <li><a ng-href="#/issuecard">Issue Card<i class="glyphicon glyphicon-credit-card pull-right"></i></a></li>
            <li class="nav-divider"></li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 style="color: #fff;">Visitor Menu</h3>
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-divider"></li>
            <li><a ng-href="#/">Home<i class="glyphicon glyphicon-home pull-right"></i></a></li>
            <li><a ng-href="#/appointments/">Appointment<i class="glyphicon glyphicon-send pull-right"></i></a></li>
            <li><a ng-href="#/official/">Official<i class="glyphicon glyphicon-globe pull-right"></i></a></li>
            <li class="nav-divider"></li>
        </ul>
    </div>
</div>