
    <div class="col-md-10 container">
        <div class="panel panel-primary" id="">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span> &nbsp; Vehicle Logs

            </div>

            <div class="panel-body">
                <table class="table table-striped table-bordered table-condensed table-hover">
                    <tr>
                        <th>Vehicle No.</th>
                        <th>Date Time</th>
                        <th>Access Type</th>
                        <th>Tag Number</th>
                    </tr>
                    <tr ng-repeat="log in vehicleLogs">
                        <td>{{log.VehicleId}}</td>
                        <td>{{log.IsEntry}}</td>
                        <td>{{log.TagNumber}}</td>
                        <td>{{log.Time}}</td>
                    </tr>
                </table>
                <div>
                    <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-click="getVehicleLogs(currentPage)" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div>

            </div>

        </div>
    </div>
